# 1) Instalar PyTorch + TorchVision + Torchaudio compilados con CUDA 12.9
#pip install --index-url https://download.pytorch.org/whl/cu118 torch torchvision torchaudio --upgrade

# 2) Instalar OpenCV para lectura y escritura de video
opencv-python

# 3) Instalar tqdm para la barra de progreso
tqdm

timm
pandas

matplotlib

pandas
openpyxl

numpy==1.23.5
flask
#Raspberry 
torch==2.0.1 
torchvision==0.15.2
pytorchvideo
performer_pytorch
torchinfo